<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2025 - 2027</p>
              <div class="h5">Master's degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"></div>
               <h4 class="category">International Institute of Information Technology, Hyderabad
               </h4>
               <ul>
                <li>Secured a rank of 126 over 10,000 students in PGEE.
                </li>
               
                <li>
                  currently persuing.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2023</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">University College of Engineering Osmania University, Hyderabad
               </h4>
               <ul>
                <li> UCEOU  is one of  Telangan's top <b>3</b> ranked colleges.  </li>
                    <li>Completed B.E in Computer Engineering with <b>8.3 CGPA</b>.</li>
                 <li>Won the Best Major Project Award <b>[Kilambi Srinivas and Babu Chilkuri Award]</b>  for excellent Academic Technical project at College(CSE Dept)</li>
                 <li>Won the championship trophy in Badminton Tournament conducted in our college Sportsmania2k23</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2019</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">Sri Gayatri Junior College
               </h4>
               <ul>
                <li>
                  The High School was mainly focus on the bases of science, mathematics, and Chemistry
                                  </li>
                                  <li>
                                    Secured a rank of <b>1206 from over 1.5 lakh attempted students </b> in TSEAMCET competative exam.
                                  </li>
                                  <li>
                                    In first year got <b>state 3rd rank</b> in IPE examinations scoring <b>465/470 marks</b>
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2017</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">T.S Model School
               </h4>
               <ul>
                <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
                </li>
               
                <li>
                  Completed my Secondary school with <b>9.7 CGPA</b>
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>